{% extends "index.html" %}
{% block title %} Add/Edit Note {% endblock %}
{% block body %}
<div class="jumbotron">
  <form action="{{ url_for('save_note', note_id=note._id) }}" method="POST">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" name="title" type="text" value="{{ note.title }}">
    </div>
    <div class="form-group">
      <label>Text</label>
      <textarea class="form-control" rows="3" name="text">{{ note.text }}</textarea>
    </div>
    <input type="submit" class="btn btn-info" value="Save"></input>
  </form>
</div>
{% endblock %}